body {
    background-color: grey;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#container {
    background-color: #000033;
    width: 50vw;
    margin: auto;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;
}

label {
    display: block;
    margin-left: 20px;
}

label input {
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 10px;
}

label select {
    display: block;
    width: 90%;
    height: 40px;
    margin: 20px;
    border-radius: 10px;
}

#container-checks input {
    display: inline-block;
    width: 20%;
}

#container-radios {
    display: inline-block;
}

#container-radios input {
    display: inline-block;
    width: 20%;
}

button {
    display: block;
    width: 90%;
    height: 40px;
    margin: 20px;
    border-radius: 10px;
}

#text-area {
    display: block;
    width: 90%;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
}